
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="StyleP.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://dl.dropboxusercontent.com/s/0cuc5nq39d2loqg/bootstrap-tokenfield.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/popper.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background">
    </div>
  <section id="job-posting-area" class="py-5">
    <div class="container">
        <div class="job-posting-wrapper mx-auto p-3">
    <h1 class="h1">Hello <%= username %>!</h1>
    <form action="/RCMProject" method="POST">
         <div class="form-group">
        <% if (Faculty && Faculty.length > 0) { %>
        <% Faculty.forEach(function(Faculty) { %>
        <label for="Faculty"><h1><%= Faculty %></h1></label>
        <% }); %>
        <% } else { %>
            <p>You haven't added any favorite Faculty yet.</p>
        <% } %>
        <input id="job-title" class="form-control" type="text" id="Faculty" placeholder="Name of the Faculty member" name="Faculty">
        </div>
        <button id="job-post-button" class="btn btn-success mt-3" type="submit">Add</button>
    </form>
    
    <form action="/RCMProject" method="POST">
         <div class="form-group">
        <% if (CropRCM && CropRCM.length > 0) { %>
            <% console.log("Type of CropRCM:", typeof CropRCM); %>
        <% CropRCM.forEach(function(CropRCM) { %>
        <label for="CropRCM"><h1><%= CropRCM %></h1></label>
        <% }); %>
        <% } else { %>
            <p>You haven't added any favorite CropRCM yet.</p>
        <% } %>
        <input id="job-title" class="form-control" type="text" id="CropRCM" placeholder="Name of the Crop" name="CropRCM">
        </div>
        <button id="job-post-button" class="btn btn-success mt-3" type="submit">Add</button>
    </form>
    <form action="/RCMProject" method="POST">
         <div class="form-group">
        <% if (ResearchRCM && ResearchRCM.length > 0) { %>
            <% console.log("Type of ResearchRCM:", typeof ResearchRCM); %>
        <% ResearchRCM.forEach(function(ResearchRCM) { %>
        <label for="ResearchRCM"><h1><%= ResearchRCM %></h1></label>
        <% }); %>
        <% } else { %>
            <p>You haven't added any favorite Title of Research yet.</p>
        <% } %>
        <input id="job-title" class="form-control" type="text" id="ResearchRCM" placeholder="Title of Research" name="ResearchRCM">
        </div>
        <button id="job-post-button" class="btn btn-success mt-3" type="submit">Add</button>
    </form>















    <% for (let i = 0; i < Math.max(ExecutionTRCM.length, DurationTRCM.length, DataDTRCM.length); i++,TreatmentDetailsRCM.length, R11RCM.length, R21RCM.length, R31RCM.length) { %>
        <h5 class="Th5">Topic :- <%- i < DataDTRCM.length ? DataDTRCM[i] : '' %> </h5>
        <div class="TD TDfirst">
        <table>
        <div class="form-group">
            <tr>
                <th>Experiment Sub-Title </th>
                <th>Year Of Execution</th>
                <th>Duration</th>
            </tr>
                <tr>
                    <td data-heading="Experiment Sub-Title"><%- i < DataDTRCM.length ? DataDTRCM[i] : '' %></td>
                    <td data-heading="Year Of Execution"><%= i < ExecutionTRCM.length ? ExecutionTRCM[i] : '' %></td>
                    <td data-heading="Duration"><%= i < DurationTRCM.length ? DurationTRCM[i] : '' %></td>
                    
                </tr>
                
                
                
    </div>
    </table>
</div>
<div class="TD TDsecond">
    <table>
        <div class="form-group">
            <tr>
                <th>Treatment Details</th>
                <th>R1</th>
                <th>Mean</th>
                <th>R2</th>
                <th>Mean</th>
                <th>R3</th>
                <th>Mean</th>
            </tr>
                <tr>
                    <td data-heading="Treatment Details">
                        <div id="treatment-details-div">
                            <%- i < TreatmentDetailsRCM.length ? TreatmentDetailsRCM[i] : '' %>
                        </div>
                    </td>
                    
                    <td>
                        <table class="sub-table TNEW">
                            <tr>
                                <td data-heading="R11"><%= i < R11RCM.length ? R11RCM[i] : '' %></td>
                            </tr>
                        </table>
                        <table class="sub-table TNEW">
                            <tr>
                                <td data-heading="R12"><%= i < R12RCM.length ? R12RCM[i] : '' %></td>
                            </tr>
                        </table>
                        <table class="sub-table TNEW">
                            <tr>
                                <td data-heading="R13"><%= i < R13RCM.length ? R13RCM[i] : '' %></td>
                            </tr>
                        </table>
                        <table class="sub-table TNEW">
                            <tr>
                                <td data-heading="R14"><%= i < R14RCM.length ? R14RCM[i] : '' %></td>
                            </tr>
                        </table>
                        <table class="sub-table TNEW">
                            <tr>
                                <td data-heading="R15"><%= i < R15RCM.length ? R15RCM[i] : '' %></td>
                            </tr>
                        </table>
                        
                    </td>
                    <td data-heading="Mean">
                        <% 
                        const r11ValueRCMPP = i < R11RCM.length && !isNaN(parseFloat(R11RCM[i])) ? parseFloat(R11RCM[i]) : 0;
                        const r12ValueRCMPP = i < R12RCM.length && !isNaN(parseFloat(R12RCM[i])) ? parseFloat(R12RCM[i]) : 0;
                        const r13ValueRCMPP = i < R13RCM.length && !isNaN(parseFloat(R13RCM[i])) ? parseFloat(R13RCM[i]) : 0;
                        const r14ValueRCMPP = i < R14RCM.length && !isNaN(parseFloat(R14RCM[i])) ? parseFloat(R14RCM[i]) : 0;
                        const r15ValueRCMPP = i < R15RCM.length && !isNaN(parseFloat(R15RCM[i])) ? parseFloat(R15RCM[i]) : 0;
                        const meanValueRCMPP = (r11ValueRCMPP+r12ValueRCMPP+r13ValueRCMPP+r14ValueRCMPP+r15ValueRCMPP) / 5;
                        %>
                        <%= meanValueRCMPP.toFixed(2) %>
                    </td>
                    <td>
                        <table class="sub-table TNEW">
                            <tr>
                                <td data-heading="R21"><%= i < R21RCM.length ? R21RCM[i] : '' %></td>
                            </tr>
                        </table>
                        <table class="sub-table TNEW">
                            <tr>
                                <td data-heading="R22"><%= i < R22RCM.length ? R22RCM[i] : '' %></td>
                            </tr>
                        </table>
                        <table class="sub-table TNEW">
                            <tr>
                                <td data-heading="R23"><%= i < R23RCM.length ? R23RCM[i] : '' %></td>
                            </tr>
                        </table>
                        <table class="sub-table TNEW">
                            <tr>
                                <td data-heading="R24"><%= i < R24RCM.length ? R24RCM[i] : '' %></td>
                            </tr>
                        </table>
                        <table class="sub-table TNEW">
                            <tr>
                                <td data-heading="R25"><%= i < R25RCM.length ? R25RCM[i] : '' %></td>
                            </tr>
                        </table>
                    </td>
                    <td data-heading="Mean">
                        <% 
                        const r21ValueRCMPPP = i < R21RCM.length && !isNaN(parseFloat(R21RCM[i])) ? parseFloat(R21RCM[i]) : 0;
                        const r22ValueRCMPPP = i < R22RCM.length && !isNaN(parseFloat(R22RCM[i])) ? parseFloat(R22RCM[i]) : 0;
                        const r23ValueRCMPPP = i < R23RCM.length && !isNaN(parseFloat(R23RCM[i])) ? parseFloat(R23RCM[i]) : 0;
                        const r24ValueRCMPPP = i < R24RCM.length && !isNaN(parseFloat(R24RCM[i])) ? parseFloat(R24RCM[i]) : 0;
                        const r25ValueRCMPPP = i < R25RCM.length && !isNaN(parseFloat(R25RCM[i])) ? parseFloat(R25RCM[i]) : 0;
                        const meanValueRCMPPP = (r21ValueRCMPPP+r22ValueRCMPPP+r23ValueRCMPPP+r24ValueRCMPPP+r25ValueRCMPPP) / 5;
                        %>
                        <%= meanValueRCMPPP.toFixed(2) %>
                    </td>
                    <td>
                        <table class="sub-table TNEW">
                            <tr>
                                <td data-heading="R31"><%= i < R31RCM.length ? R31RCM[i] : '' %></td>
                            </tr>
                        </table>
                        <table class="sub-table TNEW">
                            <tr>
                                <td data-heading="R32"><%= i < R32RCM.length ? R32RCM[i] : '' %></td>
                            </tr>
                        </table>
                        <table class="sub-table TNEW">
                            <tr>
                                <td data-heading="R33"><%= i < R33RCM.length ? R33RCM[i] : '' %></td>
                            </tr>
                        </table>
                        <table class="sub-table TNEW">
                            <tr>
                                <td data-heading="R34"><%= i < R34RCM.length ? R34RCM[i] : '' %></td>
                            </tr>
                        </table>
                        <table class="sub-table TNEW">
                            <tr>
                                <td data-heading="R35"><%= i < R35RCM.length ? R35RCM[i] : '' %></td>
                            </tr>
                        </table>
                    </td>
                    <td data-heading="Mean">
                        <% 
                        const r31ValueRCM = i < R31RCM.length && !isNaN(parseFloat(R31RCM[i])) ? parseFloat(R31RCM[i]) : 0;
                        const r32ValueRCM = i < R32RCM.length && !isNaN(parseFloat(R32RCM[i])) ? parseFloat(R32RCM[i]) : 0;
                        const r33ValueRCM = i < R33RCM.length && !isNaN(parseFloat(R33RCM[i])) ? parseFloat(R33RCM[i]) : 0;
                        const r34ValueRCM = i < R34RCM.length && !isNaN(parseFloat(R34RCM[i])) ? parseFloat(R34RCM[i]) : 0;
                        const r35ValueRCM = i < R35RCM.length && !isNaN(parseFloat(R35RCM[i])) ? parseFloat(R35RCM[i]) : 0;
                        const meanValueRCM = (r31ValueRCM+r32ValueRCM+r33ValueRCM+r34ValueRCM+r35ValueRCM) / 5;
                        %>
                        <%= meanValueRCM.toFixed(2) %>
                    </td>
            
                    <td>
                        <form action="/delete" method="POST">
                            <input type="hidden" name="rowIndex" value="<%= i %>_rcmproject">
                            <button id="job-post-button" class="btn btn-danger mt-3" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
    </div>
</table>
</div>
<hr><hr>
<%
}
%>

    <hr>
    <form action="/RCMProject" method="POST"> 
        <div class="TD TDfirst">
        <table>
        <div class="form-group">
            <tr>
                <th>Experiment Sub-Title </th>
                <th>Year Of Execution</th>
                <th>Duration</th>
            </tr>
            <% for (let i = 0; i < Math.max(ExecutionTRCM.length, DurationTRCM.length, DataDTRCM.length); i++) { %>
                
                
                <% } %>
                
                
                
                <tr>
                    <td data-heading="Sub-Title">
                        <textarea id="textarea" placeholder="Sub-Title of Experiment" name="DataDTRCM"></textarea>
                        </td>
                    <td data-heading="Year Of Execution"><input type="text" placeholder="Year Of Execution" name="ExecutionTRCM"></td>
                    <td data-heading="Duration"><input type="text" placeholder="Duration" name="DurationTRCM"></td>
                </tr>
    </div>
    </table>
</div>
        <!-- </form>
    <form action="/profile" method="POST">  -->
        <div class="TD TDsecond">
            <table>
                <div class="form-group">
                    <tr>
                        <th>Treatment Details</th>
                        <th>R1</th>
                        <th>Mean</th>
                        <th>R2</th>
                        <th>Mean</th>
                        <th>R3</th>
                        <th>Mean</th>
                    </tr>
                    <%
                        const maxArrayLengthh = Math.max(TreatmentDetailsRCM.length, R11RCM.length, R21RCM.length, R31RCM.length);
                        for (let i = 0; i < maxArrayLengthh; i++) {
                            if (i < TreatmentDetailsRCM.length || i < R11RCM.length || i < R21RCM.length || i < R31RCM.length) {
                        %>
                        
                        <%
                    }
                }
                %>
                    
                    <tr>
                        <td>
                            <textarea id="multiline-inpt" placeholder="Treatment Details" name="TreatmentDetailsRCM" rows="10" cols="20"></textarea>
                        </td>                        
                        <td class="put">
                            <% for (let j = 0; j < 5; j++) { %>
                                <input data-heading="R2<%= j + 1 %>" type="text" placeholder="R1<%= j + 1 %>" name="R1<%= j + 1 %>RCM">
                            <% } %>
                        </td>
                        <td data-heading="Mean" class="put"><input type="text" placeholder="Mean" name="MeanRCM"></td>
                        <td class="put">
                            <% for (let j = 0; j < 5; j++) { %>
                                <input data-heading="R2<%= j + 1 %>" type="text" placeholder="R2<%= j + 1 %>" name="R2<%= j + 1 %>RCM">
                            <% } %>
                        </td>
                        <td data-heading="Mean" class="put"><input type="text" placeholder="Mean" name="MeanRCM"></td>
                        <td class="put">
                            <% for (let j = 0; j < 5; j++) { %>
                                <input data-heading="R2<%= j + 1 %>" type="text" placeholder="R3<%= j + 1 %>" name="R3<%= j + 1 %>RCM">
                            <% } %>
                        </td>
                        <td data-heading="Mean" class="put"><input type="text" placeholder="Mean" name="MeanRCM"></td>
                        <td><button id="job-post-button" class="btn btn-success mt-3" type="submit">Submit</button></td>
                    </tr>
                </div>
            </table>
        </div>
        <hr><hr>
        <div class="TD TDfirst">
        <table>
            <div class="form-group">
                <tr>
                    <th>Treatment Details</th>
                    <th>R1</th>
                    <th>R2</th>
                    <th>R3</th>
                    <th>Mean</th>
                </tr>
                <%
                    const maxArrayLengthNN = Math.max(TreatmentDetailsRCM.length, R11RCM.length, R21RCM.length, R31RCM.length);
                    for (let i = 0; i < maxArrayLengthNN; i++) {
                        // Check if there is valid data in at least one of the arrays
                        if (i < TreatmentDetailsRCM.length || i < R11RCM.length || i < R21RCM.length || i < R31RCM.length) {
                    %>
                    <tr>
                        <td>
                            <div id="treatment-details-div">
                                <%- i < TreatmentDetailsRCM.length ? TreatmentDetailsRCM[i] : '' %>
                            </div>
                        </td>
                        
                        
                        <td data-heading="R1">
                            <% 
                            const r11ValueRCMPP = i < R11RCM.length && !isNaN(parseFloat(R11RCM[i])) ? parseFloat(R11RCM[i]) : 0;
                            const r12ValueRCMPP = i < R12RCM.length && !isNaN(parseFloat(R12RCM[i])) ? parseFloat(R12RCM[i]) : 0;
                            const r13ValueRCMPP = i < R13RCM.length && !isNaN(parseFloat(R13RCM[i])) ? parseFloat(R13RCM[i]) : 0;
                            const r14ValueRCMPP = i < R14RCM.length && !isNaN(parseFloat(R14RCM[i])) ? parseFloat(R14RCM[i]) : 0;
                            const r15ValueRCMPP = i < R15RCM.length && !isNaN(parseFloat(R15RCM[i])) ? parseFloat(R15RCM[i]) : 0;
                            const meanValueRCMPP = (r11ValueRCMPP+r12ValueRCMPP+r13ValueRCMPP+r14ValueRCMPP+r15ValueRCMPP) / 5;
                            %>
                            <%= meanValueRCMPP.toFixed(2) %>
                        </td>
                        <td data-heading="R2">
                            <% 
                            const r21ValueRCMPPP = i < R21RCM.length && !isNaN(parseFloat(R21RCM[i])) ? parseFloat(R21RCM[i]) : 0;
                            const r22ValueRCMPPP = i < R22RCM.length && !isNaN(parseFloat(R22RCM[i])) ? parseFloat(R22RCM[i]) : 0;
                            const r23ValueRCMPPP = i < R23RCM.length && !isNaN(parseFloat(R23RCM[i])) ? parseFloat(R23RCM[i]) : 0;
                            const r24ValueRCMPPP = i < R24RCM.length && !isNaN(parseFloat(R24RCM[i])) ? parseFloat(R24RCM[i]) : 0;
                            const r25ValueRCMPPP = i < R25RCM.length && !isNaN(parseFloat(R25RCM[i])) ? parseFloat(R25RCM[i]) : 0;
                            const meanValueRCMPPP = (r21ValueRCMPPP+r22ValueRCMPPP+r23ValueRCMPPP+r24ValueRCMPPP+r25ValueRCMPPP) / 5;
                            %>
                            <%= meanValueRCMPPP.toFixed(2) %>
                        </td>
                        <td data-heading="R3">
                            <% 
                            const r31ValueRCMP = i < R31RCM.length && !isNaN(parseFloat(R31RCM[i])) ? parseFloat(R31RCM[i]) : 0;
                            const r32ValueRCMP = i < R32RCM.length && !isNaN(parseFloat(R32RCM[i])) ? parseFloat(R32RCM[i]) : 0;
                            const r33ValueRCMP = i < R33RCM.length && !isNaN(parseFloat(R33RCM[i])) ? parseFloat(R33RCM[i]) : 0;
                            const r34ValueRCMP = i < R34RCM.length && !isNaN(parseFloat(R34RCM[i])) ? parseFloat(R34RCM[i]) : 0;
                            const r35ValueRCMP = i < R35RCM.length && !isNaN(parseFloat(R35RCM[i])) ? parseFloat(R35RCM[i]) : 0;
                            const meanValueRCMP = (r31ValueRCMP+r32ValueRCMP+r33ValueRCMP+r34ValueRCMP+r35ValueRCMP) / 5;
                            %>
                            <%= meanValueRCMP.toFixed(2) %>
                        </td>
                        <td data-heading="Mean">
                            <% 
                            const meanValueM = (meanValueRCMPP+meanValueRCMPPP+meanValueRCMP) / 3;
                            %>
                            <%= meanValueM.toFixed(2) %>
                        </td>
                    </tr>
                    <%
                }
            }
            %>
                
                
            </div>
        </table>
    </div>
    <hr>
    <br><br>
    </form>


















































    
    <form action="/RCMProject" method="POST">
         <div class="form-group">
        <% if (ObjectivesRCM && ObjectivesRCM.length > 0) { %>
            <% console.log("Type of ObjectivesRCM:", typeof ObjectivesRCM); %>
        <% ObjectivesRCM.forEach(function(ObjectivesRCM) { %>
        <label for="ObjectivesRCM"><h1><%= ObjectivesRCM %></h1></label>
        <% }); %>
        <% } else { %>
            <p>You haven't added any favorite Objectives yet.</p>
        <% } %>
        <input id="job-title" class="form-control EXP" type="text" id="ObjectivesRCM" placeholder="Objectives" name="ObjectivesRCM">
        </div>
        <button id="job-post-button" class="btn btn-success mt-3" type="submit">Add</button>
    </form>
    <form action="/RCMProject" method="POST">
         <div class="form-group">
        <% if (executionRCM && executionRCM.length > 0) { %>
            <% console.log("Type of executionRCM:", typeof executionRCM); %>
        <% executionRCM.forEach(function(executionRCM) { %>
        <label for="Faculty"><h1><%= executionRCM %></h1></label>
        <% }); %>
        <% } else { %>
            <p>You haven't added any favorite Year of execution yet.</p>
        <% } %>
        <input id="job-title" class="form-control" type="text" id="executionRCM" placeholder="Year of execution" name="executionRCM">
        </div>
        <button id="job-post-button" class="btn btn-success mt-3" type="submit">Add</button>
    </form>
    <form action="/RCMProject" method="POST">
         <div class="form-group">
        <% if (DurationRCM && DurationRCM.length > 0) { %>
            <% console.log("Type of DurationRCM:", typeof DurationRCM); %>
        <% DurationRCM.forEach(function(DurationRCM) { %>
        <label for="DurationRCM"><h1><%= DurationRCM %></h1></label>
        <% }); %>
        <% } else { %>
            <p>You haven't added any favorite Duration yet.</p>
        <% } %>
        <input id="job-title" class="form-control" type="text" id="DurationRCM" placeholder="Duration of experiment" name="DurationRCM">
        </div>
        <button id="job-post-button" class="btn btn-success mt-3" type="submit">Add</button>
    </form>
    <form action="/RCMProject" method="POST">
         <div class="form-group">
        <% if (TreatmentRCM && TreatmentRCM.length > 0) { %>
            <% console.log("Type of TreatmentRCM:", typeof TreatmentRCM); %>
        <% TreatmentRCM.forEach(function(TreatmentRCM) { %>
        <label for="TreatmentRCM"><h1><%= TreatmentRCM %></h1></label>
        <% }); %>
        <% } else { %>
            <p>You haven't added any favorite Treatment details: yet.</p>
        <% } %>
        <input id="job-title" class="form-control EXP" type="text" id="TreatmentRCM" placeholder="Treatment details" name="TreatmentRCM">
        </div>
        <button id="job-post-button" class="btn btn-success mt-3" type="submit">Add</button>
    </form>
    Upload Your File Here
    <form action="/upload" method="POST" enctype="multipart/form-data">
         <div class="form-group">
        <!-- Add other form fields here -->
        <input type="hidden" name="sourcePage" value="<%= sourcePage %>">
        <input type="file" name="file">
        <button id="job-post-button" class="btn btn-primary mt-3" type="submit">Upload File</button>
    </form>





    
    <!-- <form action="/RCMProject" method="POST"> 
        <div class="TD TDsecond">
            <table>
            <div class="form-group">
                <tr>
                    <th>Treatment Details</th>
                    <th>R1</th>
                    <th>R2</th>
                    <th>R3</th>
                    <th>Mean</th>
                </tr>
                <% for (let i = 0; i < Math.max(TreatmentDetailsRCM.length, R1RCM.length, R2RCM.length, R3RCM.length); i++) { %>
                    <tr>
                        <td data-heading="Treatment Details"><%= i < TreatmentDetailsRCM.length ? TreatmentDetailsRCM[i] : '' %></td>
                        <td data-heading="R1"><%= i < R1RCM.length ? R1RCM[i] : '' %></td>
                        <td data-heading="R2"><%= i < R2RCM.length ? R2RCM[i] : '' %></td>
                        <td data-heading="R3"><%= i < R3RCM.length ? R3RCM[i] : '' %></td>
                        <td data-heading="Mean">
                            <% 
                            const r1ValueRCM = i < R1RCM.length && !isNaN(parseFloat(R1RCM[i])) ? parseFloat(R1RCM[i]) : 0;
                            const r2ValueRCM = i < R2RCM.length && !isNaN(parseFloat(R2RCM[i])) ? parseFloat(R2RCM[i]) : 0;
                            const r3ValueRCM = i < R3RCM.length && !isNaN(parseFloat(R3RCM[i])) ? parseFloat(R3RCM[i]) : 0;
                            const meanValueRCM = (r1ValueRCM + r2ValueRCM + r3ValueRCM) / 3;
                            %>
                            <%= meanValueRCM.toFixed(2) %>
                        </td>
                        
                    
                    <td>
                        <form action="/delete" method="POST">
                            <input type="hidden" name="rowIndex" value="<%= i %>_rcmproject">
                            <button id="job-post-button" class="btn btn-danger mt-3" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                <% } %>
                
    
    
            <tr>
                <td><input type="text" placeholder="Treatment Details" name="TreatmentDetailsRCM"></td>
            <td><input type="text" placeholder="R1" name="R1RCM"></td>
            <td><input type="text" placeholder="R2" name="R2RCM"></td>
            <td><input type="text" placeholder="R3" name="R3RCM"></td>
            <td><input type="text" placeholder="Mean" name="MeanRCM"></td>
                <td><button id="job-post-button" class="btn btn-success mt-3" type="submit">Submit</button></td>
            </tr>
        </div>
    </table>
</div>
            </form> -->
            </div>
            </div>
        </section>
</body>
<script>
    $(window).scroll(function(e){
  parallax();
});

function parallax(){
  var scrolled = $(window).scrollTop();
  $('.background').css('top',-(scrolled*0.15)+'px');
}
</script>
</html>
